<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tracing.alpha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NumberPuzzle2"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace9"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace8"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace7"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace6"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace5"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".NumberPuzzle1"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace4"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace3"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace2"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace1"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Trace0"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".NumbersScreen"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".C"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".B"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".FlipTheTile"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Ztrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Ytrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Xtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Wtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Vtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Utrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".FindMissingAlphabet" />
        <activity android:name=".Ttrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Strace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Rtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Qtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Ptrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".SelectAlphabetCorrespondingToImage" />
        <activity android:name=".Otrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Ntrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Mtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Ltrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Ktrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".NextAlphabet" />
        <activity android:name=".Jtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Itrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Htrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Gtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Ftrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".oddone"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Etrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".dtrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".ctrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Btrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".A"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Atrace"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".Alphabets_numbers"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".TracingAplha"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>